	      <h1><center><a href = "C:/Users/edwin/mystuff/ISBN_Refactored/app.rb"> ISBN Validator </a></center>   </h1>

	      <h1><center><a href = "http://C:/Users/edwin/mystuff/Exact_Change/app.rb"> Exact Change Analyser </a></center></h1>

	      <h1><center><a href = "http://C:/Users/edwin/mystuff/New_Personal_Details/app.rb"> Personal Details Exercise </a></center></h1>