<!DOCTYPE html>
<html>
	<title class= "color_blue center">3 In 1 Website - Welcome!!</title>
		<body>
		<center>
			<p><a href= "/isbn">ISBN Validator</a> </p>
			<p><a href="/change">Exact Change-Maker</a> </p>
			<p><a href="/details">New Personal Details</a> </p>

		</center>
		</body>
</html>



