<html>
	<head>
    <title>Several In 1 Website</title>
 		<body class= "bggold">
			<link href="css/styles.css" rel="stylesheet">

			<center><p class="detail"><i><span class="ultimate">WELCOME</span> To Edwin Wells' Various Projects!!!</i></p></center>
			<center><a style="color:red" href='/'>Reset</a></center>
			<br><br>

<%=yield%>
		</body>
	</head>
</html>

