<html>
    <title> 3 In 1 Website - Welcome!! </title>
	<body class= "bggoldenrod">
		<link href="css/styles.css" rel="stylesheet">
		<center><a style="color:red" href='/'>Reset</a></center>

<br><br>
<%=yield%>
	</body>
</html>