<!DOCTYPE html> 
<html>
  <head>
	<body class= "bgsilver">
		<link href="css/styles.css" rel="stylesheet">

	      <center><a href = "C:/Users/edwin/mystuff/ISBN_Refactored/app.rb"> ISBN Validator </a></center>

	      <center><a href = "http://C:/Users/edwin/mystuff/Exact_Change/app.rb"> Exact Change Analyser </a></center>

	      <center><a href = "http://C:/Users/edwin/mystuff/New_Personal_Details/app.rb"> Personal Details Exercise </a></center>
<br><br>
<%=yield%>
		</body>
	 </head>
</html>