<html>
    <title><center> 3 In 1 Website - Welcome!! </center></title>
	<body class= "bggoldenrod">
		<link href="css/styles.css" rel="stylesheet">
	    <h1><a>3 In 1 Website - Welcome!!</a></h1>
		<center><a style="color:red" href='/'>Reset</a></center>

<br><br>
<%=yield%>
	</body>
</html>