<center><h1>"What is your location?"</h1><center>
<form method="post" action="/location?user_name=<%= user_name %>&age=<%= age %>">
 		<input type="text" name="user_location">
 		<input type ="submit">
</form>