<center><h1>"What are your 3 favorite numbers?"</h1><center>
<form method="post" action="/numbers?user_name=<%= user_name %>&age=<%= age %>&user_location=<%= user_location %>">
	<input type="number" name="num1">
	<input type="number" name="num2">
	<input type="number" name="num3">
 		<input type ="submit">
</form>