<!DOCTYPE html>
<html>
		<body class= "bggoldenrod">
		<center>
			<p><a href="/tictactoe">Unbeatable Tic Tac Toe</a></p>
			<p><a href= "/isbn">ISBN Validator</a> </p>
			<p><a href="/change">Exact Change-Maker</a> </p>
			<p><a href="/details">New Personal Details</a> </p>

		</center>
		</body>
</html>



