<center><h1>Enter an amount of change for analysis:</h1></center>

<center><form method="post" action="exact_change">
  <input type="text" name = "changevalue">
  <input type="submit">
</form></center>